
/******************************************
/* CSS
/*******************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/******************************************
/* LAYOUT
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
}
.headerList  li{
    margin-left: 25px;
    padding: 10px;
}

.headerList{
    display: flex;
}

.headerList > li:last-child{
    margin-right: 50px;
}
.main-content> h1{
    font-size: 8rem;
    font-weight: bolder;
}
.main-content input{
    margin-top: 1em;
    padding: 1em 37em 1em 0;
}
.main-content button{
    padding: 1em 5em;
}
.main-content{
    padding: 15em 0 0 10em;
}

.mainList{
    display: flex;
}

.mainList li{
    width: 150px;
    margin-top: 2em;
}
.mainList span{
    margin-left: 1em;
}
.aboutus_div{
    float: right;
    width: 60%;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: antiquewhite;
}
.main{
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)),
    url('media/main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 20em;
    color: #fff;
}
.aboutUs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)),
    url('media/black.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutUs .image{
    width: 900px;
}
.aboutUs .content{
    text-align: center;
    color: white;
}
.aboutUs .content h2{
    margin-top: .5em;
    font-size: 4em;
}
.aboutUs .content h3{
    font-size: 3em;
    margin-top: .5em;
}
.aboutUs .content p{
    margin-top: 1em;
    font-size: 1.5em;
}
.image img{
    width: 100%;
    padding: 4em;
}
.aboutUs .content{
    width: 50%;
}
.logo{
    max-width: 150px;
}
.headerList > li > a {
    color: black;
    text-decoration: none;
}
.mainList > li > a {
    color: aqua;
    text-decoration: none;
}
.toggle-button{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 26px;
    position: absolute;
    top: 1.75rem;
    right: 1rem;
}
.toggle-button .bar{
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}
.chefs-content > h2{
    font-size: 4em;
    padding-top: 3em;
}
.chefs-content{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    width: 100%;
    border-top: 5px solid grey;
}
.chefs .border{
    width: 300px;
    border: 2px solid;
}
.chefs img{
    height: 100%;
    width: 100%;
}
.chefs{
    display: flex;
    gap: 5em;
}
.chefs-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chefs-card p{
    font-size: 2em;
}
.chefs-card h2{
    /*Cursive for FONT */
    font-size: 3em;
    margin-top: .5em;
}
.menu-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
}
.menu-content h2{
    font-size: 4em;
}
.menu-section{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0,0,0,.5)),
    url('media/black.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.menu-section img {
    width: 100%;
}
.last-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.location-section{
    width: 100%;
    display: flex;
}
.location-section .map-section,.location-section .info-section{
    width: 50%;
}
.location-section .info-section{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: self-start;

}
.last-section{
    background: antiquewhite;
}
.last-section h3{
    font-size: 4rem;
}
#map{
    height: 40vh;
    width: 80%;
}
.map-section{
    padding: 2em;
}
.info-section h3{
    font-size: 2rem;
}
.info-section div{
    font-size: 1.5rem;
}
.recursive{
    font-family: 'Recursive', sans-serif;
}
/******************************************
/* ADDITIONAL STYLES
/********5**********************************/
.headerList  li:hover{
    background-color: rgba(69, 67, 67, 0.5)
}


  
@media  screen and (max-width: 1150px) {
    .chefs {
        display: flex;
        gap: 3em;
    }
    .chefs .border{
        width: 200px;
    }
  }  

@media screen and (max-width: 1000px) {
    .main-content .border{
        width: 150px;
    }
    .main-content input{
        padding: 1em 10em 1em 0;
    }
    .main-content button{
        padding: 1em 4em;
    }
    .image {
        padding: 2em;
    }
    .aboutUs .content h3{
        font-size: 3.5em;
    }
    .aboutUs .content h2{
        font-size: 4em;
    }
    .aboutUs .content {
        width: 100%;
        padding: 3em;
    }

}
@media screen and (max-width: 920px){
    .info-section h3{
        font-size: 1.5em;
    }
    .info-section div{
        font-size: 1rem;
    }
    .last-section > h3{
        font-size: 3rem;
    }
    #map{
        height: 30vh;
        width: 70%;
    }
    .map-section{
        padding: 1.5em;
    }
}
@media screen and (max-width: 900px) {
    .chefs-card h2{
        font-size:2em;
    }
    .chefs-card p{
        font-size:1em;
    }
    .aboutUs .image {
        width: 700px;
    }
}
@media screen and (max-width: 825px) {
    .main-content{
        padding: 8em 0 0 10em;
    }
    .main-content input{
        padding: 1em 5em 1em 0 ;
    }
    .main-content button{
        padding: 1em 4em;
    }
    .main-content h1{
        font-size: 2em;
    }
    #map{
        height: 30vh;
        width: 70%;
    }
    .map-section{
        padding: .5em;
    }
    .info-section h3{
        font-size: 1em;
    }
    .info-section div{
        font-size: 1rem;
    }
    .last-section > h3{
        font-size: 2rem;
    }
}
@media screen and (max-width: 800px) {
    .header{
      flex-direction: column;
      align-items: flex-start;
    }
    .toggle-button{
        display: flex;
        margin: 10px;
    }
    .logo{
        max-width: 110px;
    }
    .header{
        padding: 0;
    }
    .navbar{
        width: 100%;
    }
    .headerList{
        width: 100%;
        flex-direction: column;
        display: none;
    }
    .headerList li{
        text-align: center;
        width: 100%;
        text-decoration: none;
    }
    .headerList.active{
        display: block;
    }
    .main{
        padding-bottom: 10em;
    }
    .main-content{
        padding: 8em 0 0 4em;
    }
    .main-content> h1{
        font-size: 3rem;
    }
    .chefs-content{
        margin-top: 1em;
    }
    .chefs-content h2{
        font-size: 2em;
    }
    .main-content h1{
        font-size: 3em;
    }
  }
  @media screen and (max-width: 720px){
    .chefs-card .border{
        width: 150px;
    }
    .aboutUs .image{
        width: 500px;
    }
    .image img{
        padding: 1em;
    }
  }
  @media screen and (max-width: 650px){
    .content{
        font-size: 0.6em;
    }
  }
  @media screen and (max-width: 580px) {
    .chefs-card .border{
        width: 100px;
    }
  }
  @media screen and (max-width: 510px) {
    .main-content input{
        padding: 1em 2em 1em 0 ;
    }
    .main-content button{
        padding: 1em 2em;
    }
    .aboutUs .image {
        width: 400px;
        padding: 0.5em;
    }
    .info-section h3{
        font-size: .7em;
    }
    .info-section div{
        font-size: .7rem;
    }
    .last-section > h3{
        font-size: 2rem;
    }
    #map{
        height: 30vh;
        width: 70%;
    }
    .map-section{
        padding: .5em;
    }
  }
  @media screen and (max-width: 410px){
    .main-content input{
        padding: 1em 1em 1em 0 ;
    }
    .main-content button{
        padding: 1em 1em;
    }
    .aboutUs .image {
        width: 300px;
        padding: 0.5em;
    }
  }
@media  screen and (max-width: 420px) {
    .chefs .border{
        width: 75px;
    }
    .chefs-content{
        margin-top: .5em;
    }
    .chefs-content h2{
        font-size: 1em;
    }
    .chefs-content p {
        font-size: .7em;
    }
} 